*{
    margin: 0;
    padding: 0;
}

.body{
    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    background-color: #a9c2c9;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.logo-topo{
    width: 25%;
}

.lista-item-topo{
    display: inline-block;
    margin: 0 22px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: #72577C ;
}

.sobreosite-imagem{
    width: 20%;
}

.sobreosite{
    background-image: linear-gradient( #a9c2c9,#C5F7F0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.sobreosite-divisao{
    width: 35%;
    font-family: 'Poppins', sans-serif;
    color: #562155;
}

.sobreosite-titulo{
    padding: 24px 0;
    font-family: 'Poppins', sans-serif;
}

.receitaum-imagem{
    width: 80%;
}

.receitas-div{
    text-align: center;
    padding: 16px 0;
    font-family: 'Poppins', sans-serif;
}

.receitaum-todos{
    display: grid;
    grid-template-columns: 33% 33% 34%;
    background-color: #a9c2c9;
    color: #562155;
}

.strogonofftituloum {
    text-align: center;
    color: #562155;
    font-family: 'Poppins', sans-serif;
    background-color: #a9c2c9;
}

.receitaumtitulo{
    text-align: left;
    padding: 24px 10px 10px 10px;
    font-family: 'Poppins', sans-serif;
    background-color: #a9c2c9;
    color: #562155;
}

.tituloreceitadois{
    text-align: center;
    padding: 24px 0;
    background-color: #562155;
    font-family: 'Poppins', sans-serif;
    color: #C5F7F0;
}

.receitadois-imagem{
    width: 80%;
}

.receitadois-todos{
    display: grid;
    grid-template-columns: 33% 33% 34%;
    background-color: #562155;
    padding: 24px 10px 10px 10px;
}

.receitas-dois{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #C5F7F0;
}

.titulo-receitatres{
    text-align: center;
    padding: 24px 0;
    font-family: 'Poppins', sans-serif;
    background-color: #C5F7F0;
    color: #562155;
}

.tirinhaimagem{
    width: 70%;
}

.receitatres{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #562155;
}

.receitatres-todos{
    display: grid;
    grid-template-columns: 33% 33% 34%;
    padding: 24px 10px 10px 10px;
    background-color: #C5F7F0;
}

.rodape{
    background-color: #a9c2c9;
    text-align: center;
}

.imagem-rodape{
   height: 60px;
   padding: 12px 0;
}
