*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #a9c2c9;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.logo-topo{
    width: 25%;
}

.lista-item-topo{
    display: inline-block;
    margin: 0 22px;
    font-size: 24px;
}

.sobreosite-imagem{
    width: 20%;
}

.sobreosite{
    background-image: linear-gradient( #a9c2c9,#C5F7F0);
    color: white;
    display: flex;
}